<a href='' class='inline-block w-32 border border-pink-300 rounded-xl text-center p-3 m-5 bg-pink-300 shadow-xl duration-500 hover:scale-125'>
    <div class='flex justify-center'>
        <img src='img/icons/inventory.png' class='mb-3'>
    </div>
    <span class='font-bold'>Lager
