<div class='bg-red-600 text-white m-5 p-5 text-xl rounded-xl'>
Sorry! Funktion in der Demo-Version nicht verfügbar.
<br>
    <div class='flex justify-center'>
        <a href="{{server}}" class='text-center'><img src='img/icons/close.png' class='w-7 h-7 mt-3'></a>
    </div>
</div>